<!DOCTYPE html>
<html>
    <head>
	<title>Final Project (WIP)</title>
	<link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <form method="POST" action="button">
            <p>
                <input type="submit" name="button" value="UP" class="button" id="forward"/>
                <input type="submit" name="button" value="DOWN" class="button" id="reverse"/>
		<input type="submit" name="button" value="LEFT"/>
		<input type="submit" name="button" value="RIGHT"/>
                <input type="submit" name="button" value="STOP" class="button" id="stop"/><br/><br/>
		<input type="submit" name="button" value="POWER"/>
	    </p>
	    <h2>Underwater Rover</h2>	
	    <h3><img src="{{ url_for('video_feed') }}" class="stream"/></h3>
        </form>
    </body>
</html>
